body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}


/*Кнопки*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

/*Header*/

.main-header {
  padding-top: 50px;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.main-header-logo {
  margin-right: 200px;
  margin-left: 140px;
}

.main-header h1 {
  font-size: 55px;
  line-height: 66px;
  color: #000000;
}

.main-navigation {
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-between;
  width: 440px;
}

.cart {
  margin-left: 280px;
  margin-top: 25px;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

/*Slider*/
.slider h3 {
  font-size: 55px;
  line-height: 66px;
  font-weight: 700;
}

/*Index-main*/
.services {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  width: 1100px;
}

.services-list h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item {
  width: 300px;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.description {
  padding-top: 75px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.description-about {
  width: 660px;
}

.description-statistics {
  width: 360px;
}

.description-items {
  list-style: none;
  margin-top: 24px;
}

#description-caption {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 80px;
}

#description-list {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.pricniples-table {
  margin-top: 30px;
  width: 100%;
}

.pricniples-table caption {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
}

.principles-percentage td {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
}

.principles-percentage sup {
  font-size: 28px;
}

.pricniples-description td {
  line-height: 18px;
}

.clients {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

/*Catalog-main*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter li {
  color: #283136;
  font-size: 16px;
  line-height: 20px;
}

.filter-input-radio:hover+label,
.filter-input-radio:focus+label,
.filter-input-checkbox:focus+label,
.filter-input-checkbox:hover+label {
  color: #283136;
}

.filter-input-radio:disabled+label,
.filter-input-checkbox:disabled+label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  background-color: #eeeeee;
  text-transform: uppercase;
  border: none;
  line-height: 18px;
  font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.description-hover {
  background-color: #eeeeee;
}

.description-hover h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-hover p {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

/*Contact*/
.name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.adress {
  line-height: 18px;
  color: #666666;
}

/*Footer*/
.footer-social {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 1200px;
}

.social-list {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 140px;
}

.footer-discount {
  width: 560px;
}

.footer-social ul {
  list-style: none;
}

.footer-discount b {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}

.footer-discount span {
  line-height: 22px;
  color: #5d5d5d;
}

.contact-us {
  background-color: #ffffff;
}

/*Contact pop-up*/
.contact-us h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
}

.contact-us-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.contact-us-item input {
  font: inherit;
  border: 2px solid #d7dcde;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.contact-us-item input:focus {
  border-color: #000000;
}

.contact-us-item input:hover {
  border: 2px solid #b4b9bb;
}

.contact-us-item input:invalid {
  color: #e74246;
}
